.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  &__bar {
    width: 100%;
    height: 30%;
    background-image: linear-gradient(
      to bottom, #fdf67d, #fdef67,
      #fde750, #fedf34, #ffd700
    );
    &--sticky {
      position: fixed;
      top: 0;
      max-height: 8vh;
      transition: top .5s;
    }
    &--hidden {
      top: -8vh;
      transition: top 1s;
    }
    &__list {
      width: 50%;
      justify-content: space-evenly;
    }
    &__text {
      font-size: 1.5rem;
    }
  }
  &__header {
    width: 100%;
    height: 30vh;
  }
  &__name {
    width: 100%;
    height: 70%;
    font-family: 'Segoe Script';
    font-size: 3.5rem;
    background-image: linear-gradient(
      to bottom, #fffaf0, #fff9df,
      #ffface, #fffabe, #fffcae,
      #fefa9e, #fef88e, #fdf67d
    );
    > a {
      color: initial;
      text-decoration: none;
    }
  }
}
.btn {
  display: inline-block;
	width: 125px;
  height: 100%;
  > a {
    font-weight: bold;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}