<template>
  <nav class="nav nav__header">
    <div class="nav nav__name">
      <a href="/">Fool Wilson</a>
    </div>
    <div class="nav nav__bar">
      <ul class="nav nav__bar__list">
        <li class="btn nav__bar__text">
          <a href="/about/">關於</a>
        </li>
        <li class="btn nav__bar__text">
          <a href="/notes/">學習筆記</a>
        </li>
        <li class="btn nav__bar__text">
          <a href="/portfolios/">作品集</a>
        </li>
      </ul>
    </div>
  </nav>
</template>